.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.img {
    display: flex;
    justify-content: center;
    text-align: center;
}

.img img {
    width: 350px;
    height: 350px;
}